.toolbar {
	transition: 650ms;
	border-right: 2px solid black;
	background-color: #555555;

	.tool {
		width: 34px;
		height: 34px;
		margin: 2px 2px 2px 2px;
		border: 2px solid rgb(109, 109, 109);
		border-radius: 6px;;
		cursor: pointer;

		&.active {
			background-color: rgb(255, 132, 132);;
		}
	}
}
